.my-model-fullscreen {
  overflow: hidden;

  .ant-modal {
    width: 100% !important;
    max-width: 100%;
    top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh);

    .ant-modal-body {
      flex: 1;
      overflow-y: auto
    }

    .ant-modal-header {
      padding-right: 90px;
    }
  }
}

.my-model-close-fullscreen {
  @include flexRCC;

  height: 100%;
  margin-left: -32px;

  & > span {
    width: 40px;

    &:last-child {
      margin-right: 10px;
    }
  }
}
