.x-modal {
  &__fullscreen {
    .ant-modal {
      width: 100% !important;
      max-width: 100%;
      height: 100% !important;
      top: 0 !important;
      left: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    .ant-modal-content {
      display: flex;
      flex-direction: column;
      height: calc(100vh);

      .ant-modal-body {
        flex: 1;
        overflow-y: auto;
      }
    }
  }

  &.is-fullscreen {
    .ant-modal-close {
      right: 20px;

      &-x {
        width: 64px;
      }

      .x-modal__fullscreen-actions {
        height: 100%;
        @include flexRCC;

        & > span {
          width: 32px;
        }
      }
    }

    .ant-modal-header {
      padding-right: 80px;
    }
  }
}
