.ant-image-preview-switch-left,
.ant-image-preview-switch-right {
  color: rgb(0 0 0 / 45%);
  background: rgb(255 255 255 / 100%);
}

.ant-image-preview-operations {
  color: rgb(255 255 255 / 100%);
}

.x-image-empty {
  border: 1px solid #f0f0f0;
  padding: 10px;
  @include flexCCC;

  .ant-empty-normal {
    margin: 0;
  }
}
